workgroup = mopi_group
wins support = yes

[data_dir]
   comment= Data Dir
   path=/data/music
   browseable=Yes
   writeable=Yes
   only guest=no
   public=no

[dev_dir]
   comment= Dev Dir
   path=/home/tom/projects
   browseable=Yes
   writeable=Yes
   only guest=no
   create mask=0777
   directory mask=0777
   public=no
