server string = %h server (Samba, Ubuntu)
dns proxy = no
log file = /var/log/samba/log.%m
max log size = 1000
syslog = 0
server role = standalone server
workgroup = mopi_group
wins support = yes

[data_dir]
   comment= Data Dir
   path=/data/music
   browseable=Yes
   writeable=Yes
   only guest=no
   public=no

[homes]
   comment = Home Directories
   browseable = yes
   writeable=Yes
   only guest=no
   create mask=0655
   directory mask=0755
   public=no
